/**
 * Blood theme for reveal.js
 * Author: Walther http://github.com/Walther
 *
 * Designed to be used with highlight.js theme
 * "monokai_sublime.css" available from
 * https://github.com/isagalaev/highlight.js/
 *
 * For other themes, change $codeBackground accordingly.
 *
 */

 // Default mixins and settings -----------------
 @import "../template/mixins";
 @import "../template/settings";
 // ---------------------------------------------

 // Include theme-specific fonts

 @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,700,300italic,700italic);

 // Colors used in the theme
 $green: #9BC53D;
 $coal: rgba(34,34,34,1);
 $coal90: rgba(34, 34, 34, 0.9);
 $coal50: rgba(34, 34, 34, 0.5);
 $codeBackground: #23241f;

 $backgroundColor: $coal;

 // Main text
 $mainFont: 'Open Sans', sans-serif;
 $mainColor: #9BC53D;
 $headingColor: white;

 // Headings
 $headingFont: 'Quattrocento Sans', sans-serif;
 $headingTextShadow: 2px 2px 2px $coal;

 // h1 shadow, borrowed humbly from
 // (c) Default theme by Hakim El Hattab
 //$heading1TextShadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 20px 20px rgba(0,0,0,.15);
 $heading1TextShadow: none;
 // Links
 $linkColor: $green;
 $linkColorHover: lighten( $linkColor, 20% );

 // Text selection
 $selectionBackgroundColor: $green;
 $selectionColor: #fff;


 // Theme template ------------------------------
 @import "../template/theme";
 // ---------------------------------------------

 // some overrides after theme template import

 .reveal p {
     font-weight: 300;
     text-shadow: 1px 1px $coal;
 }

 .reveal h1,
 .reveal h2,
 .reveal h3,
 .reveal h4,
 .reveal h5,
 .reveal h6 {
     font-weight: 700;
 }

 .reveal p code {
     background-color: $codeBackground;
     display: inline-block;
     border-radius: 7px;
 }

 .reveal small code {
     vertical-align: baseline;
 }

 //custom

 .reveal section img {
     border: none;
     box-shadow: none;
     background: none;
 }
.reveal .link-row {
    margin-bottom: 20px;
}
.reveal a {
    h4 {
        text-decoration: underline;
        transition: all ease-in-out 0.2s;
        &:hover {
            transform: scale(1.1, 1.1);
            transition: all ease-in-out 0.2s;
        }
    }
    p {
        margin: 0;
        transition: all ease-in-out 0.2s;
        &:hover {
            transform: scale(1.1, 1.1);
            transition: all ease-in-out 0.2s;
        }
    }
}
.reveal .image-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    a {
        height:100%;
        img {
            height: 100%;
        }
        img, p, h3 {
            border: none;
            margin: 0;
            transition: all ease-in-out 0.2s;
            &:hover {
            transform: scale(1.1, 1.1);
            transition: all ease-in-out 0.2s;
            }
        }
    }
 }

 .reveal .square {
     margin-top: 10px;
     height: 100px;
     width: 100px;
     &:nth-child(1) {
         background-color: #0B132B;
     }
     &:nth-child(2) {
         background-color: #1C2541;
     }
     &:nth-child(3) {
         background-color: #004e92;
     }
     &:nth-child(4) {
         background-color: #5BC0BE;
     }
     &:nth-child(5) {
         background-color: #6fffe9;
     }
     &:nth-child(6) {
         background-color: white
     }
     &:nth-child(7) {
         background-color: black;
     }
     &:nth-child(8) {
        background-color:#5B5C5E;
    }

 }
 .reveal .slides .slideUp.fonts-row.fragment {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .font {
        &:nth-child(1) {
            font-size: 3.0rem;
            font-family: 'Anton', sans-serif;
            margin: 0;
        }
        &:nth-child(2) {
            font-size: 1.6rem;
            font-family: 'Overpass', sans-serif;
            // font-family: 'Playfair Display', serif;
            margin: 10px 0 0;
        }
        &:nth-child(3) {
            font-size: 0.8rem;
            font-family: 'Roboto', sans-serif;
            margin: 10px 0 0;
        }
        &.teal {
            color: #6fffe9;
        }
        &.grey {
            color: white;
        }
    }
 }
 .reveal .slides .brand-canvas {
    // background: -webkit-linear-gradient(to right, #0B132B, #004e92); /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #0B132B, #004e92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: rgba(0, 78, 146, 0.4);
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: left;
    padding: 11%;
    .logo-box.slideUp.fragment {
        height: 50px;
    }
 }

 @mixin bodyBackground() {
	//background: $backgroundColor;
	background: radial-gradient($coal50, $coal90), url('/images/forest-vibes.jpg');
	//background: radial-gradient(lighten($backgroundColor, 10%), $backgroundColor);
}

 .reveal.center .slides section {
  height: 100%;
  // border: 2px solid green;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 div.fragments {
  top: initial !important;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  // border: 2px solid red;
 }

 .reveal .slides .fragment.slideUp{
    opacity: 0;
    height: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
	&.visible {
        opacity: 1;
        height: 100px;
        transition: all 0.3s ease-in-out;
	}
}